@import "../portal/vbp-style/variables.scss";

.page-content {
    max-width: $inbo-page-max-width;
    margin: auto;

    h1 {
        position: relative;
        text-align: center;
    }

    img {
        margin: 2em;
    }
}

.inbo-applicaties {
    display: flex;
    flex-wrap: wrap;

    gap: 2em;

    justify-items: center;
    max-width: 100%; /* Make sure it uses the full width available */
    margin: 2em auto; /* Center the container */
}

.inbo-applicaties-item {
    width: 16em;
    margin-bottom: 20px;
    text-align: center;

    border: solid 1px $inbo-primary;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    img {
        max-width: 10em;
        height: 8em;
        object-fit: contain;
        /* aspect-ratio: 3/4; */
    }

    h3 {
        color: $inbo-primary;
    }

    p {
        color: #aaa;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.inbo-applicaties-app-link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    padding: 1em;

    &:hover {
        h3 {
            text-decoration: underline;
        }
        text-decoration: none;
        color: $inbo-primary;
    }

    margin-bottom: 3em;
}

.inbo-applicaties-info-link {
    position: relative;
    display: block;
    bottom: 6em;

    color: $inbo-secondary;
    font-weight: bold;
}

.vbp-doemee-natuurfotos {
    display: flex;
    flex-wrap: wrap;
    img {
        flex: 1;

        border: solid 3px $inbo-primary;
        border-radius: 50%;
        max-width: 14em;
        aspect-ratio: 1/1;
        margin: 1em auto;
    }
    margin: 2em;
}

.vbp-doemee-portal-logo {
    height: 0.8em;
    margin: 0 0 0 0.25em !important;
}

.vbp-doemee-initiatieven {
    display: flex;
    flex-wrap: wrap;

    gap: 4em;

    justify-items: center;
    max-width: 100%; /* Make sure it uses the full width available */
    margin: 2em auto; /* Center the container */

    img {
        height: 5em;
        max-width: 10em;
        object-fit: contain;

        margin: 1em 1em 1em 0;
    }
}

.vbp-doemee-initiatieven-item {
    flex: 1;

    padding: 1em;

    max-width: 100vw;
}

.vbp-doemee-initiatieven-inbo {
    display: flex;
    flex-wrap: wrap;

    .vbp-doemee-initiatieven-item {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        min-width: 40%;

        .vbp-doemee-initiatieven-item-left {
            flex: 1 0 0;
        }

        img {
            flex: 10 10 10;
            align-self: center;
            display: inline-block;
        }
    }
}

.vbp-doemee-projecten {
    text-align: center;
    gap: 0.5em;
}

.inbo-applicaties {
    display: flex;
    flex-wrap: wrap;

    gap: 2em;

    justify-items: center;
    max-width: 100%; /* Make sure it uses the full width available */
    margin: 2em auto; /* Center the container */
}

.inbo-applicaties-item {
    width: 20em;
    margin-bottom: 20px;
    text-align: center;

    border: solid 1px $inbo-primary;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    img {
        max-width: 10em;
        height: 8em;
        object-fit: contain;
        /* aspect-ratio: 3/4; */
    }

    h3 {
        color: $inbo-primary;
    }

    p {
        color: #aaa;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

.inbo-applicaties-app-link {
    position: relative;

    display: block;
    width: 100%;
    height: 100%;
    padding: 1em;

    &:hover {
        h3 {
            text-decoration: underline;
        }
        text-decoration: none;
        color: $inbo-primary;
    }

    margin-bottom: 3em;
}

.inbo-applicaties-info-link {
    position: relative;
    display: block;
    bottom: 6em;

    color: $inbo-secondary;
    font-weight: bold;
}
