#my-roles {
    display: flex;
    gap: 1rem;
    font-size: 0.9em;
    margin-bottom: 2em;
}

.profile-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.link-icon {
    flex: 0;
    align-self: flex-start;
    margin-top: 1em;

    i {
        font-size: 3em;
    }
}

.content {
    flex: 1;
}
