#my-roles {
    display: flex;
    gap: 1rem;
    font-size: 0.9em;
    margin-left: 0.75em;
    margin-bottom: 2em;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.link-icon {
    flex: 1;

    i {
        font-size: 3em;
    }
}

.content {
    flex: 11;
}
