<?xml version='1.0' encoding='utf-8'?>
<Server port="-1" shutdown="SHUTDOWN"> <!-- -1: disable shutdown port -->
    <Listener className="org.apache.catalina.startup.VersionLoggerListener"/>
    <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on"/>
    <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener"/>
    <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener"/>
    <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener"/>

    <GlobalNamingResources>
        <Resource name="UserDatabase" auth="Container"
                  type="org.apache.catalina.UserDatabase"
                  description="User database that can be updated and saved"
                  factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
                  pathname="conf/tomcat-users.xml"/>
    </GlobalNamingResources>

    <Service name="portal">
        <!-- Redirect localhost without port to 8080, that way internal and external addresses are the same -->
        <!-- TODO: might want to remove this for deployed/prod images -->
        <Connector port="80" protocol="HTTP/1.1"
                   connectionTimeout="5000"
                   redirectPort="8080"
                   URIEncoding="UTF-8"/>
        <Connector port="8080" protocol="HTTP/1.1"
                   connectionTimeout="5000"
                   URIEncoding="UTF-8"/>
        <Engine name="portal" defaultHost="localhost" startStopThreads="0">
            <Realm className="org.apache.catalina.realm.LockOutRealm">
                <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
                       resourceName="UserDatabase"/>
            </Realm>

            <Host name="localhost" appBase="webapps" unpackWARs="true" autoDeploy="false">
            </Host>
        </Engine>
    </Service>
</Server>