<?xml version="1.0" encoding="UTF-8"?>
<!--Log config for GeoServer-->
<Configuration name="PRODUCTION_LOGGING" status="fatal" dest="out">
    <Appenders>
        <Console name="TEXT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%date{ISO8601} %highlight{[%p]} %cyan{[%c{1.}]} %msg%notEmpty{ [AWS-XRAY-TRACE-ID: %X{AWS-XRAY-TRACE-ID}]}%n%throwable{filters(org.junit,org.apache.maven,sun.reflect,java.lang.reflect)}"/>
        </Console>

        <Console name="JSON" target="SYSTEM_OUT">
            <JsonTemplateLayout/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.geotools" level="warn" additivity="false">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Logger>
        <Logger name="org.geotools.factory" level="warn" additivity="false">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Logger>

        <Logger name="org.geoserver" level="warn" additivity="false">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Logger>
        <Logger name="org.geoserver.config" level="warn" additivity="false">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Logger>
        <Logger name="org.vfny.geoserver" level="warn" additivity="false">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Logger>

        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Logger>

        <Logger name="org.geowebcache" level="error" additivity="false">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Logger>

        <Root level="${env:LOG_LEVEL:-INFO}">
            <AppenderRef ref="${env:LOG_FORMAT:-TEXT}"/>
        </Root>
    </Loggers>
</Configuration>
