@import "../portal/vbp-style/variables.scss";

.vbp-content {
    // Override standard padding to allow for the background images to stretch full width
    padding: 0 0 1em 0 !important;
}

.index-content {
    width: 100%;
    height: 100%;
    height: 500px;
    max-height: 80vh;
    padding: 200px 20px 0px 20px;

    align-items: center;
    position: relative;
    z-index: 1;
}

.index-search {
    max-width: 500px;
    width: 100%;
    background-color: white;
    border: 2px solid $inbo-primary;
    border-radius: 10em;
    overflow: hidden;
    margin: auto;
    z-index: 2;
}

.index-search:hover {
    box-shadow: 0px 0px 5px $inbo-primary;
}

.index-search .general-search {
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;

    margin: 2px 10px 2px 10px;
    padding: 0 10px;

    height: 4em;
    &:hover,
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 0;
    }
}

.index-search button {
    height: 100%;
}

.index-search .glyphicon {
    color: $inbo-primary;
}

.index-search .glyphicon:hover {
    color: $inbo-secondary;
}

.index-search input::placeholder {
    font-weight: bold;
    color: rgb(107, 107, 107);
    opacity: 1;
}

.breakdown {
    width: 100%;
    border-top: 2px solid $inbo-primary;
    border-bottom: 2px solid $inbo-primary;
    position: relative; // in order to allow auto-complete dropdowns to be displayed above the breakdown
    z-index: 0;
}

.breakdown .row {
    margin-left: 0;
    margin-right: 0;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*="col-"] {
    display: flex;
    flex-direction: column;
}

.data-summary {
    color: white;
    background-color: rgba(128, 128, 128, 0.85);
    padding-bottom: 20px;
    z-index: 5;
}

.data-summary p {
    white-space: pre-line;
}

.data-summary h3 {
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.data-summary-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 100%;

    a.btn {
        flex: 1;
        max-width: 300px;
        min-width: 150px;
    }
}

ul.data-summary-links {
    list-style: none;
    display: flex;
    width: 40%;
    max-width: 30em;
    margin-top: 0.5em;
    justify-content: space-evenly;

    font-size: larger;
    font-weight: bold;

    > li {
        flex: 1;
        display: inline-block;
        padding-right: 2em;
        min-width: fit-content;
        &:before {
            content: "›";
            font-size: 1em;
            font-weight: bold;
        }
    }

    a {
        color: white;
        padding-left: 0.5em;
    }
}

.data-summary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.85);
    z-index: -1;
}

.portal-data-summary {
    background-image: url("../assets/kluut.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portal-data-summary .btn {
    background-color: $inbo-primary;
    border: 0;
    max-width: 150px;
    min-width: 100px;
    width: 100%;
    margin: 10px;
    text-align: left;
}

.portal-data-summary .btn:hover {
    background-color: $inbo-secondary;
}

.portal-data-summary .btn a {
    background-color: $inbo-primary;
    color: white;
}

.portal-data-summary .btn a:hover {
    text-decoration: none;
}

.our-data {
    background-image: url("../assets/klimaat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index-footer {
    padding-top: 40px;
    padding-bottom: 20px;

    background-color: white;
}

.index-footer .title {
    font-size: 20px;
    color: #0d0d0d;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}

.index-footer ul {
    margin-left: 0;
    padding-left: 0;
}

.links {
    list-style: none;
    > li {
        &:before {
            content: "›";
            font-size: 1em;
            font-weight: bold;
        }
    }
}

ul.socials {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    .socials-item {
        flex: 0 0 auto;
        min-width: 10em;
        padding: 0.5em 1em;
    }
}
