---
### OIDC Credentials ###
security:
  jwt:
    clientId: bie_index
  oidc:
    clientId: "bie_index"
    secret: "bie_index-oidc-super-secret"
webservice:
  client-id: "bie_index"
  client-secret: "bie_index-oidc-super-secret"

server:
  servlet:
    contextPath: /bie-index
grails:
  serverURL: ${common.protocol}://${common.domain}/bie-index

serverName: ${common.protocol}://${common.domain}/bie-index

userDetails:
  url: ${common.protocol}://${common.domain}/userdetails/
biocache:
  base: ${common.protocol}://${common.domain}/biocache-hub
  service: http://biocache-service.${common.internalDomain}:8080/biocache-service
collectory:
  base: ${common.protocol}://${common.domain}/collectory
  service: http://collectory.${common.internalDomain}:8080/collectory/ws
  # A list of uids for the national species list datasets
  nationalSpeciesDatsets:
layers:
  service: http://spatial-service.${common.internalDomain}:8080/spatial-service
  gazetteerId:
images:
  # URL of image configuration file
  config: file:///config/bie-index/envs/local/image-lists.json
  base: ${common.protocol}://${common.domain}/image-service
  service:
    base: ${common.protocol}://${common.domain}/image-service
    thumbnail: ${common.protocol}://${common.domain}/image-service/image/{0}/thumbnail
    large: ${common.protocol}://${common.domain}/image-service/image/{0}/original
    small: ${common.protocol}://${common.domain}/image-service/image/{0}/thumbnail
    metadata: ${common.protocol}://${common.domain}/image-service/ws/image/{0}
  index: true
knowledgeBase:
  service: https://support.ala.org.au
  sitemap: /support/solutions
  sectionSelector: section.article-list .list-lead > a
  articleCssSelector: .article-title a.c-link
wordPress:
  service: ${common.protocol}://${common.domain}
  sitemap: /xmlsitemap.xml
  index: index.xml
  page: /?page_id={0}
  excludedLocations:
    - .*/category/.*
  excludedCategories:
    - button
  contentOnlyParams: ?content-only=1&categories=1
lists:
  useListWs: false
  service: http://species-list.${common.internalDomain}:8080/species-list/ws
  ui: ${common.protocol}://${common.domain}/species-list
  conservation: /speciesList?isAuthoritative=eq:true&isThreatened=eq:true&max={0}&offset={1}
  search: /speciesList/?isAuthoritative=eq:true&max={0}&offset={1}
  show: /speciesListItem/list/{0}
  add: /createItem
  remove: /deleteItem
biocollect:
  service:
  search: /ws/project/search?initiator=ala&facets=status
naming:
  service: http://namematching-service.${common.internalDomain}:9179
attribution:
  default: National Species Lists
  common: National Species Lists
commonName:
  # Acceptable vernacular names to appear in autocomplete and primary name eg en,en-AU,en-CA,en-GB,en-US (leave empty for any language)
  languages: en,nl
  defaultLanguage: nl
# Location of conservation lists
conservationListsUrl: file:///config/bie-index/envs/local/conservation-lists.json
# Location of vernacular name lists (null for default)
vernacularListsUrl: file:///config/bie-index/envs/local/vernacular-lists.json
#nationalSpeciesDatasets: dr2699,dr2700,dr2702,dr2704,dr2703,dr3118
nationalSpeciesDatasets: ""
hiddenImages:
  # URL of hidden images configuration file
  config: file:///config/bie-index/envs/local/hidden-images-lists.json
wiki:
  # URL of wiki configuration file
  config: file:///config/bie-index/envs/local/wiki-lists.json
solr:
  admin:
    connection: http://solr.${common.internalDomain}:8983/solr
    type: HTTP
    queueSize: 10
    threadCount: 4
  live:
    connection: http://solr.${common.internalDomain}:8983/solr/bie
    type: HTTP
    queueSize: 10
    threadCount: 4
  updatingLive:
    connection: http://solr.${common.internalDomain}:8983/solr/bie
    type: UPDATE
    queueSize: 10
    threadCount: 4
  offline:
    connection: http://solr.${common.internalDomain}:8983/solr/bie-offline
    type: UPDATE
    queueSize: 10
    threadCount: 4
  search:
    qf:
      - exact_text
      - text
      - content^0.2
    boost: searchWeight
    defType: edismax
    qAlt: text:*
skin:
  layout: ala-main

useLegacyAuto: false
import:
  sequence: collectory,taxonomy-all,vernacular,denormalise,layers,localities,conservation-lists,knowledgebase,species-lists,favourites,weights,link-identifiers,images,occurrences,hidden-images,wiki-urls,suggest-index
  sequenceDaily: conservation-lists,wordpress,knowledgebase,biocollect,species-lists,favourites,suggest-index,hidden-images,wiki-urls,sitemap
  sequenceWeekly: occurrences,layers,regions,localities,suggest-index
  dailyRunHour: 2
  weeklyRunDay: 6
  enableTasks: false
  taxonomy:
    dir: /data/bie/import
  priority:
    norm: 4000
    min: 0.25
    max: 5.0
  weightConfigUrl: file:///config/bie-index/weights.json
  favouritesConfigUrl: file:///config/bie-index/envs/local/favourites.json

ala:
  baseURL: ${common.protocol}://${common.domain}
bie:
  baseURL: ${common.protocol}://${common.domain}/bie-hub
  searchPath: /search

openapi:
  terms:
  contact:
    email: ${common.supportEmail}
  components:
    security:
      oauth2:
        baseUrl: ${common.protocol}://auth.${common.domain}/cas/oidc

userdetails:
  url: ${common.protocol}://${common.domain}/userdetails/

userdetails.web.url: ${common.protocol}://${common.domain}/userdetails/
userdetails.api.url: ${common.protocol}://${common.domain}/userdetails/

# all available rk_ and rkid_ fields in SOLR are added to defaultDownloadFields when no rk_ field is defined in defaultDownloadFields
defaultDownloadFields: guid,rank,scientificName,scientificNameAuthorship,taxonomicStatus,establishmentMeans,datasetName,parentGuid,acceptedConceptName,acceptedConceptID,idxtype,name,additionalNames_m_s
downloadMaxRows: 100000

# override the taxon ranks taxonRanksFile with an external file
taxonRanksFile:

sitemap:
  dir: /data/bie-index
  enabled: true

management:
  endpoint:
    health:
      enabled: true
  endpoints:
    web:
      exposure:
        include: health

websocket:
  cors:
    allowedOrigins: ${common.protocol}://${common.domain}

environments:
  inbo_prod:
    images:
      config: file:///config/bie-index/envs/prod/image-lists.json
    conservationListsUrl: file:///config/bie-index/envs/prod/conservation-lists.json
    vernacularListsUrl: file:///config/bie-index/envs/prod/vernacular-lists.json
    hiddenImages:
      config: file:///config/bie-index/envs/prod/hidden-images-lists.json
    wiki:
      config: file:///config/bie-index/envs/prod/wiki-lists.json
    import:
      favouritesConfigUrl: file:///config/bie-index/envs/prod/favourites.json

  inbo_uat:
    images:
      config: file:///config/bie-index/envs/uat/image-lists.json
    conservationListsUrl: file:///config/bie-index/envs/uat/conservation-lists.json
    vernacularListsUrl: file:///config/bie-index/envs/uat/vernacular-lists.json
    hiddenImages:
      config: file:///config/bie-index/envs/uat/hidden-images-lists.json
    wiki:
      config: file:///config/bie-index/envs/uat/wiki-lists.json
    import:
      favouritesConfigUrl: file:///config/bie-index/envs/uat/favourites.json
      dailyRunHour: 12
      weeklyRunDay: 3

  inbo_dev:
    images:
      config: file:///config/bie-index/envs/dev/image-lists.json
    conservationListsUrl: file:///config/bie-index/envs/dev/conservation-lists.json
    vernacularListsUrl: file:///config/bie-index/envs/dev/vernacular-lists.json
    hiddenImages:
      config: file:///config/bie-index/envs/dev/hidden-images-lists.json
    wiki:
      config: file:///config/bie-index/envs/dev/wiki-lists.json
    import:
      favouritesConfigUrl: file:///config/bie-index/envs/dev/favourites.json
      dailyRunHour: 12
      weeklyRunDay: 3

  local:
    images:
      config: file:///config/bie-index/envs/local/image-lists.json
    conservationListsUrl: file:///config/bie-index/envs/local/conservation-lists.json
    vernacularListsUrl: file:///config/bie-index/envs/local/vernacular-lists.json
    hiddenImages:
      config: file:///config/bie-index/envs/local/hidden-images-lists.json
    wiki:
      config: file:///config/bie-index/envs/local/wiki-lists.json
    import:
      favouritesConfigUrl: file:///config/bie-index/envs/local/favourites.json
