.bg-pattern {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 101px);
    /* total screen minus banner and footer */
    background-image: url('../background-pattern_1_vdccrg.png');
    background-color: #f5f5f5;
}

.banner {
    border-bottom: 1px solid #a83d7a;
    /* box-shadow: 0px 1px 2px #a83d7a; */
}


.max-width {
    max-width: 1750px;
    margin: auto;
}

.navbar-default {
    border: 0;
    border-radius: 0;
    margin: 0;
    background-color: white;
    font-weight: bold;
    box-shadow: none;
    background-image: none;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.navbar-default .navbar-nav>li>a:hover {
    text-decoration-color: #a83d7a;
}

.navbar-default .dropdown-menu a:hover {
    background-image: none;
}

.navbar-default .navbar-brand {
    text-transform: uppercase;
    color: #a83d7a;
    padding-right: 15px;
    height: fit-content;
    font-weight: bold;
}

@media only screen and (max-width: 400px) {
    .navbar-default .navbar-brand {
        max-width: 250px;
    }
}

#dropdown-lang>a {
    text-transform: uppercase;
    color: #a83d7a;
}

#dropdown-lang>a:hover {
    color: rgb(53, 97, 150);
}

.index-content {
    width: 100%;
    height: 100%;
    height: 500px;
    max-height: 80vh;
    background-image: url("../VlaamseGaai.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 20px 0px 20px;

    align-items: center;
    position: relative;
}

.index-content::after {
    content: "Photo by Giles Laurent on Wikipedia, licensed under CC BY-SA 4.0.";
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: xx-small;
}

.index-search {
    max-width: 500px;
    width: 100%;
    background-color: white;
    border: 2px solid #a83d7a;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
}

.index-search:hover {
    box-shadow: 0px 0px 5px #a83d7a;
}

.index-search .general-search {
    border-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;

    margin: 2px 10px 2px 10px;
    padding: 0 10px;

    height: 4em;
}

.index-search button {
    height: 100%;
}

.index-search .glyphicon {
    color: #a83d7a;
}

.index-search .glyphicon:hover {
    color: rgb(53, 97, 150);
}

.index-search input::placeholder {
    font-weight: bold;
    color: rgb(107, 107, 107);
    opacity: 1;
}

.breakdown {
    width: 100%;
    border-top: 2px solid #a83d7a;
    border-bottom: 2px solid #a83d7a;
}

.breakdown .row {
    margin-left: 0;
    margin-right: 0;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
}

.data-summary {
    color: white;
    background-color: rgba(128, 128, 128, 0.85);
    padding-bottom: 20px;
    z-index: 5;
}

.data-summary p {
    white-space: pre-line;
}

.data-summary h3 {
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
}

.data-summary::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.85);
    z-index: -1;
}

.portal-data-summary {
    background-image: url("../kluut.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portal-data-summary .btn {
    background-color: #a83d7a;
    border: 0;
    max-width: 150px;
    min-width: 100px;
    width: 100%;
    margin: 10px;
    text-align: left;
}

.portal-data-summary .btn:hover {
    background-color: rgb(53, 97, 150);
}

.portal-data-summary .btn a {
    background-color: #a83d7a;
    color: white;
}

.portal-data-summary .btn a:hover {
    text-decoration: none;
}

.our-data {
    background-image: url("../klimaat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index-footer {
    padding-top: 40px;
    padding-bottom: 20px;

    background-color: white;

}

.index-footer .title {
    font-size: 20px;
    color: #0d0d0d;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
}


.index-footer ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


.index-footer li {
    padding-left: 1em;
    text-indent: -1em;
}


.index-footer li:before {
    content: "›";
    font-size: 1.5em;
    font-weight: bold;
    color: #0d0d0d;
}

.index-footer a {
    color: #0d0d0d;
}

.index-footer address {
    margin: 0;
}

.index-footer .socials {
    margin-top: 2em;
}


