/* Sticky footer styles
   https://stackoverflow.com/a/27864663
   -------------------------------------------------- */
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex: 1 0 auto;
}

/* .vlw .vlw__footer {
  border-top: 1px solid #a83d7a !important;
} */

.vlaanderen-logo {
  height: 4em;
}

#main {
  padding-bottom: 1em;
}