@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular.scss";

.banner {
    .navbar-default {
        border: 0;
        border-radius: 0;
        margin: 0;
        background-color: white;
        font-weight: 500;
        border-bottom: 1px solid $inbo-primary;

        > .container-fluid {
            margin: 0;
            padding: 0;
        }
    }

    .navbar .navbar-nav > li > a {
        height: $inbo-banner-height;
        line-height: normal;

        font-size: $inbo-font-size-navbar;
        text-transform: uppercase;
        color: black;
        text-decoration: underline 0.15em rgba(0, 0, 0, 0);
        transition: all 300ms, color 300ms;

        display: block;
        width: 100%;
        padding: auto;
        padding: 1em;
        text-align: center;

        &:hover {
            color: #222;
            text-decoration-color: $inbo-primary;
            background-color: #f7f7f7;
        }
    }

    .navbar .navbar-header {
        margin: 0 !important;
    }

    .navbar .navbar-brand {
        text-transform: uppercase;
        font-size: $inbo-font-size-navbar;
        color: $inbo-primary;
        font-weight: 700;
        padding: 0;
        margin-left: 0;

        margin: 0.5em !important;
        height: calc($inbo-banner-height - 1em);

        &:hover {
            color: $inbo-secondary;

            img.vbp-logo {
                content: url("/images/logo-hover.png");
            }
        }

        img.vbp-logo {
            display: inline-block;
            height: 100%;
            aspect-ratio: 1/1;
        }
        span {
            margin-left: 0.25em;
        }
    }

    .submenu-icon {
        position: relative;
        left: -0.5em;
    }

    /* Authentication menu items */
    #login-icon {
        color: #888;
        @extend .fa-user-xmark !optional;

        &.signedIn {
            i {
                color: $inbo-primary;
                @extend .fa-user !optional;
            }
        }
    }

    #dropdown-lang {
        > a {
            text-transform: uppercase;
            color: $inbo-primary;

            &:hover {
                color: $inbo-secondary;
            }
        }
        &.open > a {
            color: $inbo-secondary;
        }
    }

    .navbar-toggle {
        position: absolute;
        top: 0.75em;
        right: 0.75em;
        height: calc($inbo-banner-height - 1.5em);
        aspect-ratio: 1/1;
        padding: 0;
        margin: 0;
        text-align: center;
        vertical-align: middle;

        i {
            display: block;
            font-size: 1.5em;
        }
    }

    // Hide the full VBP name on smaller screens
    @media only screen and (max-width: 1250px) {
        .navbar .navbar-brand > .vbp-name {
            display: none;
        }
    }

    // Modify hamburger menu
    @media only screen and (max-width: 767px) {
        // Submenu items
        .navbar-nav {
            .open .dropdown-menu > li > a {
                padding-left: 2.5em;
                margin: 0;
                color: black;
                &:hover {
                    background-color: #f7f7f7;
                }
            }
        }

        // Overlay the breadcrumb section
        .navbar-collapse {
            position: relative;
            z-index: 999;
            background-color: white;
        }

        // Fix the overflow issue for search auto-complete
        .navbar-collapse.in {
            overflow-y: visible !important;
        }

        // layout navbar-right items horizontal on small screen and fix submenu layout
        .navbar-right {
            display: flex !important;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: flex-start;
            border-top: 1px solid #bbb;
            margin: 0;

            > li {
                min-width: 6em;
                flex: 1;

                // Align submenu items to the left
                &:nth-child(2) {
                    > ul {
                        left: -100%;
                    }
                }

                &:nth-child(3) {
                    > ul {
                        left: -200%;
                    }
                }

                &:nth-child(4) {
                    > ul {
                        left: -300%;
                    }
                }

                > ul {
                    border-top: 2px solid #bbb !important;
                    position: relative !important;
                    width: 100vw !important;
                    padding-top: 0.5em;

                    > li {
                        position: relative !important;
                        left: 0 !important;
                        text-align: left;
                    }
                }
            }

            // Overlap search input with the entire right side of hamburger menu
            #banner-search-input {
                right: 0;
                left: 105%;

                &.active {
                    width: 290%;
                }
            }

            #banner-search-container.ui-front > .ui-autocomplete {
                border: 0 !important;
                border-top: 1px solid #bbb !important;
                border-bottom: 1px solid $inbo-primary !important;
                border-radius: 0;
                left: 0 !important;
                & > li {
                    list-style: none;
                    padding: 0 !important;
                }
                .ui-menu-item-wrapper {
                    padding: 0.5em 1em !important;
                }
            }
        }
    }
}

// style lock icon to geo-portal link
#geo-locked {
    color: #888;
    position: relative;
    padding-left: 1em;
    margin-left: auto;
}

.help-icon {
    font-size: 1.1em;
    vertical-align: middle;
}

// Hide the authentication menu items when not logged in
.signedOut.hidden-on-logged-out {
    display: none !important;
}
.signedIn.hidden-on-logged-in {
    display: none !important;
}

// Search input styles
#banner-search-container {
    height: $inbo-banner-height;

    i {
        color: $inbo-primary;
        position: relative;
        top: 3px;
    }
    &:hover {
        a {
            text-decoration: none;
        }
        i {
            color: $inbo-secondary;
        }
    }
}

#banner-search-input {
    position: absolute;
    right: 3.5em;
    top: 0.75em;
    z-index: 1000;
    border: 2px solid $inbo-primary;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 14px;
    outline: none;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
    width: 0;
    opacity: 0;
    margin-right: 10px;
    background-color: white;
    overflow: hidden;
    border-color: $inbo-secondary;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    &.active {
        width: 200px;
        opacity: 1;
    }
    &:hover, &:active {
        box-shadow: 0px 0px 5px $inbo-secondary;
    }
}

// only show the my location button on small screens (mobile devices)
#banner-my-location-button {
    display: none;
    @extend .navbar-toggle;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 5em !important;
    color: #333;

    @media only screen and (max-width: 767px) {
        display: block;
    }
}

#banner-search-container.ui-front > .ui-autocomplete {
    position: absolute;
    background-color: white;
    padding: 0;
    z-index: 999;
    border: 2px solid $inbo-secondary;
    border-top: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;

    & > li {
        list-style: none;
        padding: 0.5em 1em;
    }
}
#index-search-container.ui-front > .ui-autocomplete {
    position: absolute;
    background-color: white;
    padding: 0;
    z-index: 999;
    border: 2px solid $inbo-primary;
    border-top: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;

    & > li {
        list-style: none;
        padding: 0.5em 1em;
    }
}

.ui-menu-item-wrapper.ui-state-active {
    background: #ddd !important;
    color: black !important;
    border: 0 !important;
}
