/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    /* Hide pagination items 6-10 */
    .pagination > li:nth-child(n + 7):nth-child(-n + 11) {
        display: none;
    }
}
/* Taxon header */
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 16px;
}

.hero-button {
    top: 0 !important;
    bottom: unset !important;
}
