/* Hide link to my downloads as we're currently not supporting it */
#mydownloads {
    display: none;
}

#taxaQuery {
    width: 100%;
}

@media (max-width: 768px) {
    #headingBar {
        .side.right {
            float: none;
            margin-top: -1em;
            margin-bottom: 1em;
        }
    }
}

.occurrenceTable {
    td.value {
        word-wrap: break-word;
        max-width: 50vw;
    }
}
