// House style colors
// https://www.vlaanderen.be/vlaanderen-intern-communicatie/huisstijl-en-merkbeleid/overzicht-logos-kleuren-en-huisstijlcoordinatoren/logos-en-kleuren-beleidsdomein-omgeving#instituut-natuur-en-bosonderzoek
$inbo-primary: rgb(192, 67, 132);
$inbo-secondary: rgb(53, 97, 150);
$inbo-ternary: rgb(132, 56, 96);
$inbo-quartenary: rgb(194, 196, 68);

$inbo-font-size-base: 14px;
$inbo-font-sans: "flanders-sans", sans-serif;
$inbo-font-serif: "flanders-serif", serif;
$inbo-font-base: $inbo-font-sans;
$inbo-font-mono: Menlo, Monaco, Consolas, "Courier New", monospace;

$inbo-banner-max-width: none;
$inbo-content-max-width: 170rem;
$inbo-page-max-width: 70em;

$inbo-banner-height: 5rem;
$inbo-footer-height: 12rem;

$inbo-link-color: $inbo-primary;
$inbo-link-hover-color: $inbo-secondary;
$inbo-link-hover-decoration: underline;
