<!-- close content-wrapper from banner -->
</div>
</div>
</div>
<!-- Footer -->
<footer class="footer">
    <div class="vlw vlw__u-hide-on-print">
        <footer class="vlw__footer">
            <div class="vlw__footer__container">
                <div class="vlw__footer__col vlw__footer__umbrella"><img class="vlaanderen-logo"
                        src="https://assets.vlaanderen.be/image/upload/c_scale,q_auto:eco,w_1000/Vlaanderen_is_wetenschap_vol_xnbdq2"
                        srcset="https://assets.vlaanderen.be/image/upload/c_scale,q_auto:eco,w_320/Vlaanderen_is_wetenschap_vol_xnbdq2 320w, https://assets.vlaanderen.be/image/upload/c_scale,q_auto:eco,w_480/Vlaanderen_is_wetenschap_vol_xnbdq2 480w, https://assets.vlaanderen.be/image/upload/c_scale,q_auto:eco,w_960/Vlaanderen_is_wetenschap_vol_xnbdq2 960w, https://assets.vlaanderen.be/image/upload/c_scale,q_auto:eco,w_1420/Vlaanderen_is_wetenschap_vol_xnbdq2 1420w, https://assets.vlaanderen.be/image/upload/c_scale,q_auto:eco,w_1920/Vlaanderen_is_wetenschap_vol_xnbdq2 1920w"
                        sizes="(max-width:500px) 50vw, 25vw" /></div>
                <div class="vlw__footer__col vlw__footer__body">
                    <div>
                        <h2 class="vlw__footer__body__title">
                            Het Vlaams Biodiversiteitsportaal is een officiële website van de Vlaamse overheid
                            <span class="vlw__footer__body__subtitle">

                                <!----> <span>uitgegeven door</span>

                                <a href="https://www.vlaanderen.be/inbo" target="_blank" rel="noopener noreferrer">
                                    Instituut voor Natuur- en Bosonderzoek
                                    <svg viewBox="0 0 32 32" aria-hidden="true" class="vlw__footer__body__icon">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" href="#icon-external"></use>
                                    </svg> <span class="vlw__u-visually-hidden">(opent in nieuw venster)</span></a>
                                <!----></span>
                        </h2>
                    </div>
                    <ul class="vlw__footer__body__links">
                        <li class="vlw__footer__body__links__item"><a
                                href="https://www.vlaanderen.be/inbo/privacyverklaring/" rel="noopener noreferrer"
                                class="vlw__footer__body__links__item__cta">Privacyverklaring
                                <!----> <span class="vlw__u-visually-hidden">(opent in nieuw venster)</span></a></li>
                        <li class="vlw__footer__body__links__item"><a
                                href="https://www.vlaanderen.be/inbo/cookiebeleid/" rel="noopener noreferrer"
                                class="vlw__footer__body__links__item__cta">Cookieverklaring
                                <!----> <span class="vlw__u-visually-hidden">(opent in nieuw venster)</span></a></li>
                        <li class="vlw__footer__body__links__item"><a
                                href="https://www.vlaanderen.be/inbo/toegankelijkheidsverklaring/"
                                rel="noopener noreferrer"
                                class="vlw__footer__body__links__item__cta">Toegankelijkheidsverklaring
                                <!----> <span class="vlw__u-visually-hidden">(opent in nieuw venster)</span></a></li>
                        <li class="vlw__footer__body__links__item"><a
                                href="/pages/terms-of-use.html"
                                rel="noopener noreferrer"
                                class="vlw__footer__body__links__item__cta">Gebruiksvoorwaarden
                                <!----> <span class="vlw__u-visually-hidden">(opent in nieuw venster)</span></a></li>
                    </ul>
                    <ul class="vlw__footer__language vlw__footer__language--mobile">
                        <li class="vlw__footer__language__item"><a href="https://www.vlaanderen.be/inbo" hreflang="nl"
                                lang="nl" target="_blank" rel="alternate" class="vlw__footer__language__item__cta">
                                nl
                            </a></li>
                        <li class="vlw__footer__language__item"><a href="https://www.vlaanderen.be/inbo/en-gb/homepage/"
                                hreflang="en" lang="en" rel="alternate" class="vlw__footer__language__item__cta">
                                en
                            </a></li>
                    </ul>
                </div>
                <div class="vlw__footer__col vlw__footer__side"><!---->

                    <div class="bug-modal footer-bug-modal">
                        <a class="bug-modal-button" data-toggle="modal" data-target="#bug-modal" href="#bug-modal">
                            {{> bug_icon }}
                        </a>
                    </div>
                    <ul class="vlw__footer__language vlw__footer__language--desktop">
                        <li class="vlw__footer__language__item locale-link" data-locale="nl"><a href="#" hreflang="nl"
                                lang="nl" target="_blank" rel="alternate"
                                class="vlw__footer__language__item__cta nl-locale-link">
                                nl
                            </a></li>
                        <li class="vlw__footer__language__item locale-link" data-locale="en"><a href="#" hreflang="en"
                                lang="en" rel="alternate" class="vlw__footer__language__item__cta en-locale-link">
                                en
                            </a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</footer>
<!-- End footer -->

<!-- Bug modal section -->
<div class="modal fade" id="bug-modal" tabindex="-1" role="dialog" aria-labelledby="bug-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bug-modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title bug-modal-title" id="bug-modal-label" data-i18n="footer.bug-modal.title">
                    Problemen melden op het VBP</h5>
            </div>
            <div class="modal-body bug-modal-content">
                <p data-i18n="footer.bug-modal.intro">Bedankt om te helpen!</p>

                <p>
                    <span data-i18n="footer.bug-modal.create-issue-1">
                        Je kan zelf een "issue" aanmaken op
                    </span>
                    <a class="button-primary" id="create-github-issue-link"
                        href="https://github.com/inbo/vlaams-biodiversiteitsportaal/issues/new?template=user_bug_report_nl.md"
                        data-i18n="footer.bug-modal.create-issue-link" target="_blank">
                        onze publieke Github pagina
                    </a>.<br />
                    <span data-i18n="footer.bug-modal.create-issue-2" style="white-space: pre-line">
                        Hiervoor dien je wel eerst in te loggen in github.<br />
                        Zo een issue mag niet alleen een bug, maar ook een suggestie of een vraag zijn.
                    </span>
                </p>

                <p>
                    <span data-i18n="footer.bug-modal.contact-us">Rechtstreeks contact
                        met ons nemen op mag ook altijd via </span><a
                        href="mailto:support.natuurdata@inbo.be">support.natuurdata@inbo.be</a>
                </p>
            </div>
        </div>
    </div>
</div>
