<!-- included head -->

<!-- Necessary for som special characters (umlaut, etc.) -->
<meta charset="utf-8">

<!-- Responsive things? -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

<link rel="icon" href="/favicon.ico" />

<link rel="stylesheet" href="{{ resolve-from-root 'portal/vbp-style/vbp.scss' }}">

<script type="module" src="{{ resolve-from-root 'auth/auth.ts' }}"></script>
<script type="module" src="{{ resolve-from-root 'auth/auth-ui.ts' }}"></script>
<script type="module" src="{{ resolve-from-root 'portal/i18next.js' }}"></script>
<script type="module" src="{{ resolve-from-root 'portal/banner-search.ts' }}"></script>
<!-- End included head -->