<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %highlight([%level]) %cyan([%logger{10}]) %msg%replace( [AWS-XRAY-TRACE-ID: %X{AWS-XRAY-TRACE-ID}]){' \[AWS-XRAY-TRACE-ID: \]',''}%n</pattern>
        </encoder>
    </appender>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <!-- JSON Encoder is missing from the classpath :( -->
        <!-- <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>-->
        <encoder>
            <pattern>
                {"timestamp":"%date{ISO8601}","level":"%level","logger":"%logger","message":"%replace(%replace(%msg){'\n','\\n'}){'"','\"'}","ex":"%replace(%replace(%ex{full}){'\n','\\n'}){'"','\"'}", "traceId": "%X{AWS-XRAY-TRACE-ID}"}%n
            </pattern>
        </encoder>
    </appender>

    <!-- Disable flood of deprecation warnings-->
    <logger name="org.hibernate.orm.deprecation" level="OFF"/>
    <logger name="org.grails.config.NavigableMap" level="ERROR"/>

    <!-- Reduce AWS X-Ray logging verbosity -->
    <logger name="com.amazonaws.xray.strategy.sampling.pollers.RulePoller" level="WARN"/>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="${LOG_FORMAT:-TEXT}"/>
    </root>
</configuration>
