<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date] %highlight([%level]) %cyan([%logger{10} %file:%line]) %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    </appender>

    <root level="${LOG_LEVEL:-INFO}">
        <appender-ref ref="${LOG_FORMAT:-TEXT}"/>
    </root>
</configuration>
