/*

!.gitignore

/bie/*
!/bie
!/bie/solrconfig.xml
!/bie/schema.xml
!/bie/core.properties

/bie/conf/*
!/bie/conf
!/bie/conf/elevate.xml

/biocache/*
!/biocache
!/biocache/solrconfig.xml
!/biocache/schema.xml
!/biocache/core.properties
!/biocache/protwords.txt
!/biocache/synonyms.txt
!/biocache/stopwords.txt

/biocache/conf/*
!/biocache/conf
!/biocache/conf/elevate.xml
!/biocache/conf/managed-schema