<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
    <mirrors>
        <mirror>
            <id>maven-default-http-blocker</id>
            <url>http://127.0.0.1/dont-go-here</url>
            <mirrorOf>dummy</mirrorOf>
            <blocked>false</blocked>
        </mirror>
        <mirror>
            <id>conjars</id>
            <url>https://conjars.wensel.net/repo/</url>
            <mirrorOf>conjars</mirrorOf>
            <blocked>false</blocked>
        </mirror>
    </mirrors>
</settings>