/*

!.gitignore

!solr.xml
!zoo.cfg

/bie/*
!/bie
!/bie/solrconfig.xml
!/bie/schema.xml
!/bie/core.properties
!/bie/bie_stopwords.txt
!/bie/protwords.txt
!/bie/synonyms.txt
!/bie/stopwords.txt
!/bie/spellings.txt

!/bie/elevate.xml
!/bie/mapping-ISOLatin1Accent.txt

/biocache/*
!/biocache
!/biocache/solrconfig.xml
!/biocache/schema.xml
!/biocache/core.properties
!/biocache/protwords.txt
!/biocache/synonyms.txt
!/biocache/stopwords.txt

!/biocache/elevate.xml
!/biocache/schema.xml