name: Release new version of the portal
run-name: ${{ github.actor }} is releasing a new version
on:
  push:
    branches:
      - "main"

# Only allow one workflow to run at a time
concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

permissions:
  contents: write

jobs:
  build-and-push-docker-images:
    runs-on: [self-hosted]
    steps:
      - name: Login to AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_SHARED_INFRA_ROLE_ARN }}

      - name: Docker login to Amazon ECR
        env:
          AWS_REGION: ${{ secrets.AWS_REGION }}
        run: |
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
            | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO }}

          aws ecr create-repository --repository-name ${{ secrets.ECR_REPO }}/dockerhub/library/git:2
          aws ecr create-repository --repository-name ${{ secrets.ECR_REPO }}/dockerhub/library/mysql
          aws ecr create-repository --repository-name ${{ secrets.ECR_REPO }}/dockerhub/library/postgresql
