---
name: E2E tests | Prod
run-name: ${{ github.actor }} is testing the VBP portal @ prod

on:
  schedule:
    - cron: "0 9 * * 1-5"

  workflow_dispatch:
    inputs:
      google_notification:
        description: "Notify Google Chat on failure"
        required: false
        default: false
        type: boolean

jobs:
  test-prod:
    uses: ./.github/workflows/e2e-test.yml
    with:
      target_env: "prod"
      google_notification: ${{ github.event.inputs.google_notification == null || fromJSON(github.event.inputs.google_notification) }}
    secrets: inherit
